.cont10 {
  background-color: #282a35;
  color: white;
  margin: auto;
}
.cont10__row-1 {
  padding-top: 78px;
  padding-bottom: 125px;
}

.cont10__row h1 {
  font-size: 65px;
  font-weight: 800;
  text-align: center;
  margin-top: 2px;
  margin-bottom: -20px;
}
.cont10__row-1 p {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
  line-height: 30px;
}
.cont10__row img {
  display: block;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}
.cont10__row button {
  display: block;
  margin-left: 200px;
  line-height: 27px;
  padding: 6px 18px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}
.cont10__row-1--btn1 {
  background-color: #04aa6d;
  color: white;
}
.cont10__row-1--btn2 {
  background-color: #fff4a3;
  color: black;
}
.cont10__row-1--btn1:hover {
  background-color: #059862;
}
.cont10__row-1--btn2:hover {
  background-color: #fff080;
}
.cont10__row-2 p {
  font-size: 24px;
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 10px;
  line-height: 36px;
  text-align: center;
}
.cont10__row-2 img {
  width: 1200px;
  margin-top: 30px;
}
.cont10__row-3 {
  padding-bottom: 64px;
}
.cont10__row-3 img {
  width: 1100px;
}
.cont10__row-3 button {
  background-color: #04aa6d;
  color: white;
  border-radius: 30px;
  font-size: 21px;
  width: 300px;
  padding: 11px 18px;
  margin-top: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 32px;
  cursor: pointer;
}
.cont10__row-3 button:hover {
  background-color: #059862;
}
