.cont14 {
  background-color: #282a35;
  color: white;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 90px;
}
.cont14 h1 {
  font-size: 65px;
  font-weight: 700;
  line-height: 97.5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cont14 p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cont14__row {
  display: flex;
  justify-content: space-around;
}
.cont14__row div {
  flex: 1;
  max-width: 450px;
  padding: 60px 50px;
  border-radius: 5px;
  margin-top: 40px;
  cursor: pointer;
}
.cont14__col p {
  font-size: 35px;
  font-weight: 600;
  line-height: 53px;
}
.cont14__col--green {
  background-color: #04aa6d;
  color: white;
  margin-right: -30px;
}
.cont14__col--yellow {
  background-color: #fff4a3;
  color: black;
  margin-left: -30px;
}
.cont14__col--green:hover {
  opacity: 0.9;
}
.cont14__col--yellow:hover {
  opacity: 0.9;
}
